<% if logged_in? %>
  <div class="row">
    <div class="toparea">
     
    </div>
   <%= image_tag @post.image.url if @post.image? %>
    <div class="col-sm-8">
      
     
      <!--<%= render 'posts/posts', posts: @posts %>-->
      <%= render 'posts/top', posts: @posts %>
      
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the CosyBase</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>