@charset "utf-8";


a{color:#06f;text-decoration: none;}
a:hover .alpha {filter: alpha(opacity=80);opacity: 0.80;-moz-opacity: 0.80;}
ul,li{list-style:none;}
img{vertical-align:middle;border:none;}
img{max-width: 100%}
img{width: auto;}
.imgborder{border: 1px solid #ccc;}
html{
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 100%;
  color: #333;
  line-height: 1.5;
}


.btn-edit{
    color:#fff;
}


.topimage{
    max-width: 160rem;
    height: 10rem;
    margin: 0 auto;
    background-image: image-url("webtopbg.jpg") ; ;
    background-size: cover;
    position:relative
    
}

.topimage p{
  position: absolute;
  font-weight: bold; /*太字に*/
  font-size: 1.2em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
    
}




.grav{
    width: 25px;
    height: 25px;
    border-radius: 13px;
    margin-left: 10px;
    margin-top: 5px;
    border: 2px solid #675e5e;
    
}

.comment{
    margin-left: 10px;
    color: #675e5e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.username{margin:8px;}

.img {
    width:187px;
    height:200px;
    border-radius: .8rem .8rem 0 0;
}

.img a{
    max-height:200px;
}

.card{
    height: 300px;
    width: 200px;
    border-radius: .8rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,.16);
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,.16);
    text-decoration: none;
    margin-top:20px;
    padding:5px;
}

.flex{

}

/*トップページ _top.html*/
.wrapitem{
    display: flex;
    justify-content: space-between;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap:wrap;
}

.top-list{
    width:calc(25% - 5px);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
}


.wrapitem::after{
    content:"";
    display: block;
    width:calc(25% - 5px);
}

.wrapitem::before{
    order:1;
    content:"";
    display: block;
    width:calc(25% - 5px);
}

.topimg a img{
    width:200px;
    height:200px;
}


/*ページ共通*/
.pagetitle{
    font:bold;
    text-align:center;
    margin-top:30px;
}

/*user周り*/
.usersetting{margin-top:20px;}
/*.postimg{  width:200px;*/
/*    height:200px;}*/
    
 
 
    
/*投稿周り*/
#wrapper {
    height: 600px;
    display: flex;
    justify-content: space-between;
}
.main{
    width:60%;
    background-color: #ddffdd;
}
.aside{
    width:30%;
    background-color: #ffddff;

}

.post-follow{
    margin-top:10px;

}


.eachpostimg{
    width:400px;
    height:400px;
    padding:30px;
    border-radius:8px;
    margin:auto

}
.eachpostimg img{
    border-radius:10px;
    max-height: 350px;
}

.commentarea{
    width:40%;
    height:100px;
    background-color:#fff;
    border:solid 2px #675e5e;
    overflow: scroll;
    text-overflow: ellipsis;
    // white-space: nowrap;
}

.userimgflex{
    display: flex;
    justify-content: space-around;
}

.mainuserimg{
    width:10%;
}
.commentarea{
    width:80%;
    border-radius: 14px;
}

.commentarea p{margin:10px;}


.postuserphoto{
    width:50px;
    height:50px
    
}
.postintroarea{
    height:150px;
    background-color:#fff;
    border:solid 2px #675e5e;
    border-radius: 14px;
    padding:10px;
    overflow:scroll;
}


.selfpostomg{
    width:200px;
    height:200px;
}

.selfpostomg a img {
    max-height: 200px;
}

.selpwrap{

}



.selful{
    display: flex;
    justify-content: space-between;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap:wrap;
}

.post-list{
    width:calc(25% - 5px);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
}

.selful::after{
    content:"";
    display: block;
    width:calc(25% - 5px);
}

.selful::before{
    order:1;
    content:"";
    display: block;
    width:calc(25% - 5px);
}




.selfpostcomment{
    height:150px;
    width:200px;
    background-color:#fff;
    border:solid 2px #675e5e;
    border-radius:5px;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,.16);
    text-decoration: none;
    margin-top:10px;
    padding:10px;
    overflow: scroll;

}
.btnpostion{
    margin-top:5px;
    margin-right:5px;
    display:flex;
}

/*プロフィール*/
.contentwrap{
    margin:0 auto;
    width:800px;
}


.usercard{
    height:380px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    -webkit-box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .8rem;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 5px;
}

.cardcomment{
    margin-top:5px;
}

.main-edit{
    width:100%;
    background-color: #ccc;
    margin-bottom:30px;
    padding:20px;
}

.commentarea-edit{
    width:500px;
    height:100px;
    background-color:#fff;
    border:solid 2px #675e5e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0 auto;
}

.main-edit p{
    text-align:left;
}

/*プロフィール投稿周り*/
#user_comment{
    width:400px;
}


.FlexTextarea {
  position: relative;
  font-size: 1rem;
  line-height: 1.8;
  height:100px;
}

.FlexTextarea__textarea {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 5px 15px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #b6c3c6;
  border-radius: 4px;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  resize: none;
}

/*ページネーション自体のデザイン*/
.pagechange{
    margin-top:15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.post-card-name{
    width:200px;
}